<div class="container-fluid main-container">
    <% if !@events.nil? %>
        <div class="cardbox">
      <% @events.each do |event| %>
          <div class="card">
            <%= link_to "", event_attendances_path(event), class: "fas fa-user-plus", method: :post if Attendance.find_by(event_id: event.id).nil? && event.user_id != current_user.id %>
            <% if event.photo.attached? %>
              <div class="thumb"><%= cl_image_tag event.photo.key, height: 150, width: 150, crop: :fill %></div>
              <% else %>
                <div class="thumb"><img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /></div>
              <%end%>
                <a href="<%= event_path(event) %>" style="text-decoration: none"><div class="infos">
                <h2 class="title"><%= event.name %></h2>
                <h3 class="date"><%= event.date.nil? ? "Date not specifed" : event.date.to_formatted_s(:short) %></h3>
                <p class="txt"><%= event.description %></p>
                  <% if User.find(event.user_id).photo.attached? %>
                    <%= cl_image_tag User.find(event.user_id).photo.key, class: :"flag avatar-bordered" %>
                  <% else %>
                    <img class ="flag avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  <% end %>
                  <h3 class="details"><%= event.location %></h3>
                </div></a>
            </div>
        <% end %>
          </div>
      <% end %>
</div>
