<div class="navbar">
  <span><%= render "shared/navbar"%></span>
</div>
<div class="banner">
  <img src="">
  <h1>Here is Image</h1>
</div>
<div class="container">
  <% if !@events.nil? %>
    <% @events.each do |event|  %>
      <div class="card center">
        <img src="">
        <h2>Event - <%= event.name %></h2>
        <h3>Team - <%= event.team %></h3>
        <h3>Location - <%= event.location %></h3>
        <%= link_to 'Check Event', event_path(event) %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="footer">
  <p> <%= render 'shared/footer' %> </p>
</div>
