<div class="container-fluid main-container">
  <!-- <div class="row center"> -->
    <% if !@events.nil? %>
        <div class="cardbox">
      <% @events.each do |event| %>
          <div class="card">
            <% if event.photo.attached? %>
              <div class="thumb"><%= cl_image_tag event.photo.key, height: 150, width: 150, crop: :fill %></div>
              <% else %>
                <div class="thumb"><img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /></div>
              <%end%>
                <a href="<%= event_path(event) %>" style="text-decoration: none"><div class="infos">
                <h2 class="title"><%= event.name %><span class="flag"></span></h2>
                <h3 class="date"><%= event.location %></h3>
                <p class="txt"><%= event.description %></p>
                  <% if User.find(event.user_id).photo.attached? %>
                    <%= cl_image_tag User.find(event.user_id).photo.key, class: :"card-trip-user avatar-bordered" %>
                  <% else %>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  <% end %>
                </div></a>
            </div>
        <% end %>
          </div>
      <% end %>
  <!-- </div> -->
</div>
