<div class="navbar">
  <span>Here is a Navbar</span>
</div>
<div class="banner">
  <img src="">
  <h1>Here is Image</h1>
</div>
<div class="container center">
  <% if !@events.nil? %>
    <% @events.each do |event|  %>
    <a href="<%= event_path(event) %>">
      <div class="card-trip">
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, height: 150, width: 150, crop: :fill %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <%end%>
        <div class="card-trip-infos">
          <div>
            <h2><%= event.name %></h2>
            <p><%= event.description[0..10] %></p>
          </div>
          <h2 class="card-trip-pricing"><%= event.location %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </a>
    <% end %>
  <% end %>
</div>
<div class="footer">
  <p>This is footer</p>
</div>
