
<div class="banner text-center">
  <img src="https://ak5.picdn.net/shutterstock/videos/4908395/thumb/7.jpg">
</div>
  <% if !@event.nil? %>
      <div class="card">
        <img src="">
        <h2><%= @event.name %></h2>
        <h3><%= @event.team %></h3>
        <h3><%= @event.description %></h3>
        <h3><%= @event.location %></h3>
      <h3><%= link_to "delete", destroy_path(@event), method: :delete %></h3>
      <h3><%= link_to "update", edit_event_path(@event), method: :get %></h3>
      </div>
  <% end %>
