<div class="container">
  <div class="event-show-card">
    <% unless @event.nil? %>
    <div class="top-show-card">
      <div class="event-show-image">
      <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key %>
      <% else %>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" />
      <% end %>
      </div>
      <div class="show-event-name">
        <h1><strong><%= @event.name %></strong></h1>
        <h4><%= @event.date.to_formatted_s(:long)  %></h4>
      </div>
      <div class="attendance-list">
        <h3>Members</h3>
          <div class="members">
            <ul>
              <% counter = 1 %>
        <% Attendance.where(event_id: @event.id).each do |attendance| %>
            <% if counter < 5 %>
            <i>
              <span><%= attendance.user.first_name %></span>
              <%= cl_image_tag(attendance.user.photo.key) if attendance.user.photo.attached? %>
            </i>
            <% counter+=1; %>
            <% end %>
        <% end %>
          </ul>
        </div>
      </div>
      <% if @event.user == current_user %>
      <div class="show-buttons">
        <p id="update"><%= link_to '<i class="fas fa-edit fa-2x"></i>'.html_safe, edit_event_path(@event), method: :get %></p>
        <p id="delete"><%= link_to '<i class="fas fa-trash-alt fa-2x"></i>'.html_safe, destroy_path(@event), method: :delete %></p>
      </div>
      <% else %>
      <div class="show-buttons">
        <p id="delete"><%= link_to "", event_attendances_path(@event), class: "fas fa-user-plus fa-2x", method: :post if Attendance.find_by(event_id: @event.id).nil? && @event.user_id != current_user.id %></p>
      </div>
      <% end %>
    </div>
    <div class="middle-show-card">
      <div class="profile">
        <div class="profile-text">
          <p class="host"><strong>Host:</strong></p>
          <p class="host-name"><%= @event.user.first_name %></p>
        </div>
        <div class="profile-image">
          <% if @event.user.photo.attached? %>
          <%=  cl_image_tag(@event.user.photo.key) %>
          <% end %>
        </div>
      </div>
      <div class="description">
        <p> <%= @event.description %></p>
      </div>
      <div class="team-card">
        <p>Team:</p>
        <h3><%= @event.team %></h3>
      </div>
    </div>
    <div class="location-show-card">
      <strong>Location: <%= @event.location %></strong>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% end %>
  </div>
</div>
