<div class="container new-event">
  <div class="row justify-content-center">
    <div class="col-lg-5 event-box">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
        required: false,
        autofocus: true,
        input_html: { autocomplete: "email" } %>
        <%= f.input :password,
        required: false,
        input_html: { autocomplete: "current-password" } %>

        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <div class="center-button">
          <%= f.button :submit, "Log in", class: "create-button center-button" %>
        </div>
        <div class="optional-bottom">
          <div class="sign-in-options">
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Forgot your password?", new_user_password_path %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
