<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#hosted" role="tab" aria-controls="home" aria-selected="true">Events Hosted</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#joined" role="tab" aria-controls="profile" aria-selected="false">Events Joined</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="hosted" role="tabpanel" aria-labelledby="home-tab">
    <div class="container-fluid main-container">
        <% if !@my_events.nil? %>
            <div class="cardbox">
          <% @my_events.each do |event| %>
          <% attendances = Attendance.find_by(event_id: event.id) %>
              <div class="card">
                <% if event.photo.attached? %>
                <i class="far fa-calendar-check fa-2x text-dark"></i>
                    <div class="thumb"><%= cl_image_tag event.photo.key, crop: :fit %></div>
                  <% else %>
                    <div class="thumb"><img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /></div>
                  <%end%>
                    <a href="<%= event_path(event) %>" style="text-decoration: none"><div class="infos">
                    <h2 class="title"><%= event.name %></h2>
                    <h3 class="date"><%= event.date.nil? ? "Date not specifed" : event.date.to_formatted_s(:short) %></h3>
                    <h3 class="seats"><strong><%= attendances.nil? ? 'Be the first to join' :
                       "Seats remaining: #{event.capacity - Attendance.where(event_id: event.id).count}" %></strong></h3>
                    <p class="txt"><%= event.description.length <= 150 ? event.description : "#{event.description[0..130]}..." %></p>
                      <% if User.find(event.user_id).photo.attached? %>
                        <%= cl_image_tag User.find(event.user_id).photo.key, class: :"flag avatar-bordered" %>
                      <% else %>
                        <img class ="flag avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                      <% end %>
                      <h3 class="details"><%= event.location %></h3>
                    </div></a>
                </div>
            <% end %>
              </div>
          <% end %>
    </div>

</div>
  <div class="tab-pane fade" id="joined" role="tabpanel" aria-labelledby="profile-tab" style="margin-top: 120px">
    <% if @my_attendances.nil? %>
      <h3>You haven't joined any events yet</h3>
    <% end %>
    <div class="container-fluid main-container">
        <% if !@my_attendances.nil? %>
            <div class="cardbox">
          <% @my_attendances.each do |attandace| %>
              <% event = Event.find(attandace.event_id) %>
              <% attendances = Attendance.find_by(event_id: event.id) %>
              <div class="card">
                <i class="far fa-calendar-check fa-2x text-dark"></i>
                <% if event.photo.attached? %>
                    <div class="thumb"><%= cl_image_tag event.photo.key, crop: :fit %></div>
                  <% else %>
                    <div class="thumb"><img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /></div>
                  <%end%>
                    <a href="<%= event_path(event) %>" style="text-decoration: none"><div class="infos">
                    <h2 class="title"><%= event.name %></h2>
                    <h3 class="date"><%= event.date.nil? ? "Date not specifed" : event.date.to_formatted_s(:short) %></h3>
                    <h3 class="seats"><strong><%= attendances.nil? ? 'Be the first to join' :
                       "Seats remaining: #{event.capacity - Attendance.where(event_id: event.id).count}" %></strong></h3>
                    <p class="txt"><%= event.description.length <= 150 ? event.description : "#{event.description[0..130]}..." %></p>
                      <% if User.find(event.user_id).photo.attached? %>
                        <%= cl_image_tag User.find(event.user_id).photo.key, class: :"flag avatar-bordered" %>
                      <% else %>
                        <img class ="flag avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                      <% end %>
                      <h3 class="details"><%= event.location %></h3>
                    </div></a>
                </div>
            <% end %>
              </div>
          <% end %>
    </div>

  </div>
</div>


